<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tasks</title>
</head>
<style>
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    color: black;
    margin: 20px;
  }
</style>

<body>
  <h1>Displaying all tasks</h1>
  <form action="/tasks" method="POST">
    <input type="text" name="title" id="title" placeholder="Create new task">
    <label for="priority">Select Priority:</label>
    <select id="priority" name="priority">
      <option value="None">None</option>
      <option value="Low">Low</option>
      <option value="Medium">Medium</option>
      <option value="High">High</option>
    </select>
  </form>
  <ul>
    <% for (let task of tasks) {%>
      <a href="/tasks/<%= task._id %>">
        <li>
          <%= task.title %>
            <br>
            <%= task.lastUpdated %>
        </li>
      </a>
      <% } %>
  </ul>
</body>

</html>